<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>League of Legends Suggestion</title>
 
 
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">League of Legends Suggestion App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Suggestions</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="bans" role="button">Ban Suggestions</a>
            <p><a class="btn btn-lg btn-success" href="showBasic" role="button">Counter Picks From Win Rates</a>
            <p><a class="btn btn-lg btn-success" href="svb" role="button">Support to Counter Bot Laner</a>
            <p><a class="btn btn-lg btn-success" href="bvs" role="button">Bot Laner to Counter Support</a>
            <p><a class="btn btn-lg btn-success" href="bws" role="button">Bot Laner That Goes Well with Support</a>
            <p><a class="btn btn-lg btn-success" href="swb" role="button">Support That Goes Well with Bot Laner</a>
            <p><a class="btn btn-lg btn-success" href="jwm" role="button">Jungler That Goes Well with Mid Laner</a>
            <p><a class="btn btn-lg btn-success" href="mwj" role="button">Middle Laner That Goes Well with Jungler</a>
            <p><a class="btn btn-lg btn-success" href="jwt" role="button">Jungler That Goes Well with Top Laner</a>
            <p><a class="btn btn-lg btn-success" href="twj" role="button">Top Laner That Goes Well with Jungler</a>
            <p><a class="btn btn-lg btn-success" href="basicblind" role="button">Blind Pick Based on Win Rates</a>
            <p><a class="btn btn-lg btn-success" href="lookup" role="button">Good Matchups For Desired Champion</a>
            </p>
        </div>
 
    </div>
</body>
 
</html>
